body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signin-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.input-field:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 153, 0, 0.5);
}

.signin-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin-btn:hover {
    background-color: #105902;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: #777;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #105902;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.signup-link a {
    color: #28a745;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.input-field:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 153, 0, 0.5);
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #105902;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: #777;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #105902;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.signup-link a {
    color: #105902;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}