/* ALVARO GOMEZ */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.articles {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.botons {
    margin-top: 20px;
}
.botons a {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #008000;
    color: #008000;
    margin-right: 5px;
}
.botons a:hover {
    background-color: #008000;
    color: white;
}
.botons a.active {
    background-color: #008000;
    color: white;
    pointer-events: none;
}
.botons button {
    padding: 8px 16px;
    border: 1px solid #000000;
    background-color: #fff;
    color: #800000;
    margin-right: 5px;
}
.botons button:disabled {
    background-color: #000000;
    color: #ffffff;
    pointer-events: none;

    
}

.labelArticles {
    color: #28a745; /* Color verde */
    font-weight: bold; /* Negrita para destacar */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  .inputArticles {
    border: 2px solid #28a745; /* Borde verde */
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  .inputArticles:focus {
    outline: none; /* Remueve el borde de enfoque por defecto */
    border-color: #218838; /* Color más oscuro cuando se enfoca */
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); /* Efecto de sombra verde */
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.signin-form, .login-form {
    display: inline-block;
    margin: 0;
}
nav {
    flex: 1; /* Esto hace que el nav ocupe el espacio entre el logo y los formularios */
}
.form-container {
    display: flex;
    align-items: center;
}
.signin-form input, .login-form input {
    padding: 5px 10px;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.signin-form input:hover, .login-form input:hover {
    background-color: #ff6600;
}
/* Ajustar la distancia entre los formularios */
.signin-form {
    margin-right: 10px; /* Espacio entre "Sign In" y "Log In" */
}